<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        //- script(src="https://code.jquery.com/jquery-1.10.2.js")
        script(src="scripts/jquery-offline.js")
        script(src="scripts/home.js")
        link(rel="stylesheet", href="css/home.css")
        title Home
    body
        h1='Welcome home'
        nav.side-menu
            ul
                li(id='thingN_1') Bedroom light
                    i.fa.fa-map-marker
                li(id='thingN_2') Kitchen light
                    i.fa.fa-compass

        div(id='switch' class='btn') Switch

