<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/logIn.css")
        title HUB
    body
        form(class='login', action="/logIn", method="get")
            h1 HUB
            input(type="text", name="login", placeholder="Login", required='required')
            input(type="password", name="password", placeholder="Password", required='required')
            button(class='btn btn-primary btn-block btn-large' type="submit") Let me in

