html { width: 100%; height:100%; overflow:hidden; }


.btn{
    width: 100%;
    height: 100%;
    position:absolute;
    
}
.bedroom{
}
.kitchen{
}
.isOn{
    -webkit-box-shadow: 0px 0px 15px 15px #fff204;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    /* -moz-box-shadow:    1px 3px 5px 8px rgb(251, 255, 0);  Firefox 3.5 - 3.6 */
}

.imageSwitch{
    width: 130px;
    height: 130px;
    color: white;
    margin: auto;
    margin-top: 15em;
    position:relative;
}

#shar{
    border-radius: 75%;
    margin: auto;
}

#switch{
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
}

body {
    font-size: 1em;
    /* background: rgb(71, 64, 133); */
    font-family: 'Roboto', Arial, Verdana, sans-serif;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );

}

h1{
    color: white;
    text-align: center;
}

.side-menu {
    width:14em;
    height: auto;
    margin:4em auto 0;
    font-size: 1em;
    line-height: 2em;
    color: #fff;
    font-weight:700;
    text-transform:uppercase;
    position:absolute;
    top:0; 
    bottom:0;
    left: -10em;
}
.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.side-menu ul li {
  display:block;
    background-color: #333;
    height: 2em;
    padding: 1em 1.5em;
    position: relative;
    -webkit-transition: -webkit-transform 0.5s,     background-color .5s, color .5s;
    transition: transform .5s, background-color .5s, color .5s;
}

/*the colors of the different columns*/
.side-menu ul li:nth-child(1) { background-color: #d51b81;}
.side-menu ul li:nth-child(2) { background-color: #ba1e2e;}
.side-menu ul li:nth-child(3) { background-color: #00a300;}
.side-menu ul li:nth-child(4) { background-color: #1e7145;}
.side-menu ul li:nth-child(5) { background-color: #ffc40d;}
.side-menu ul li:nth-child(6) { background-color: #cb2027;}

.side-menu ul li:hover {
    /* background-color: #339966;  */
    /*you can make different colors depending on the nth-child like above*/


    /* -webkit-transform: translateX(10em); */


    /* transform: translateX(10em); */
    /*equal to left in the .side-menu*/
}

.afterClick{
    background-color: #339966; /*you can make different colors depending on the nth-child like above*/
    -webkit-transform: translateX(10em);
    transform: translateX(10em);/*equal to left in the .side-menu*/
}


.side-menu ul li{
  display:block;
    color: #FFF;
    text-decoration: none;
}
.side-menu ul li span {
    display:block;
    position: absolute;
    font-size:1em;
    line-height: 2em;
    height:2em;
    top:0; 
    bottom:0;
    margin:0 auto;
    padding:1em 1.5em;
    right: 0.16666666666667em;
    color: #F8F6FF;
}