<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://code.jquery.com/jquery-1.10.2.js")
        script(src="./main.js")
        link(rel="stylesheet", href="./main.css")
        title Document
    body
        div(class='place')
            div(id='button' class='button') OFF